.txtDialog {
  font-size: 30px;
  padding: 1em;
}

.btnDialog {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    margin-left: 1.7em;
    padding: 0.5em;
    font-size: 18px;
}

.btn2 {
    margin-right: 1.7em;
    padding: 0.5em;
    font-size: 18px;
}
