.navbar {
  margin-top: 4.5em;
}

.mat-sidenav {
  height: 100vh !important;
}

.logo {
  justify-content: center;
  text-align: center;
  width: 55px;
  height: 55px;
  margin-top: 0.3em;
  margin-left: 3.2em;
}

.bb {
  display: flex;
  justify-content: space-between;
}

.usuario {
  font-size: 14px;
  color: white;
  margin-left: -2em;
  display: flex;
}

.btn-menu {
  margin-top: -0.7em;
}

.mat-menu {
  
  margin-top: 3em;
}
