.card-login {
  margin: 40px auto 0 auto;
  width: 80%;
  max-width: 300px;
}

h2 {
  text-align: center;
}

.fields {
  text-align: center;
  margin-right: 1.2em;
}

.btn {
  padding: 0;
  margin-left: 6.5em;
  width: 40%;
}
